@tailwind base;
@tailwind components;
@tailwind utilities;

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.heading-container {
  position: relative;
  z-index: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}


/* .nav-logo {
  position: relative;
}

.nav-logo span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 8px solid #315dcf;
  border-bottom: linear-gradient(to right, #315dcf 0%, #b700cf 100%);
  border-radius: 1.75rem;
  transform: scale(0) translateY(50px);
  opacity: 0;
}

.nav-logo:hover span {
  transform: scale(1) translateY(0);
  transition: 0.3s ease;
  opacity: 1;
} */

header {
  background: var(255, 255, 255, 0.5);
  /* border-bottom: 4px solid white; */
}

.nav-logo {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/* .nav-logo span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to right, #315ecfd7 0%, #b700cfd7 100%);
  border-radius: 1.75rem;
  transform: scale(0) translate(-100%, -100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
} */

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  /* 50% {
    transform: rotate(180deg);
  } */
  100% {
    transform: rotate(360deg);
  }
}

.nav-logo:hover img {
  /* filter: grayscale(100%) brightness(0.5); */
  animation: rotateLogo 0.8s cubic-bezier(0, 0, 0, 1);
}

.nav-logo:hover h2 {
  letter-spacing: 1px;
  transition: 0.4s ease 0s;
}

nav a {
  color: rgb(29 78 216);
  text-transform: capitalize;
  width: 7rem;
  padding: 2px;
}

nav a:hover {
  background: rgb(29 78 216);
  color: white;
  border-radius: 15px;
}

header .nav-btn {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 796px) {
  .nav-logo .logo {
    width: 55px;
    height: 55px;
  }

  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: rgb(37 99 235 / var(--tw-bg-opacity));
    transition: 0.7s ease;
    transform: translateX(100vh);
  }

  .nav-close-btn {
  }

  header .responsive_nav {
    transform: none;
    height: 100vh;
  }

  .md-device {
    flex-direction: column;
    gap: 3rem;
  }

  .place-section {
    flex-direction: column;
    gap: 3rem;
  }

  .home-logo {
    width: 100px;
    height: 55px;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-mobile a {
    width: 7rem;
    height: 3.5rem;
    color: white;
  }
  .nav-mobile a:hover {
    color: rgb(22, 22, 22);
    background: white;
  }

  footer {
    font-size: 11px;
  }
  footer .footer-content {
    place-items: baseline;
    padding-left: 2rem;
  }
}
